.forgetPassword-wrapper{
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #707070;
    border-radius: 30px;
    padding: 20px;
    margin: 50px auto;
}
.forgetPassword-logo{
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 30px auto;
    text-align: center;
}
.forgetPassword-logo img{
    width: auto;
    max-width: 100%;
}
.forgetPassword-wrapper .form-login{
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.forgetPassword-wrapper .forgetPassword-title{
    display: block;
    text-align: center;
    margin: 10px auto;
    color: #FC4041;
    font-size: 24px;
    font-weight: bold;
}
.forgetPassword-wrapper .forgetPassword-description{
    display: block;
    text-align: center;
    margin: 10px auto;
    color: #E3E3E3;
    font-size: 16px;
}
.forgetPassword-wrapper .forgetPassword-number{
    display: block;
    text-align: center;
    margin: 10px auto;
    color: #FC4041;
    font-size: 18px;
}
.vcode{
    display: block;
    text-align: center;
    margin: 20px auto;
}
.vcode-input {
    width: 48px;
    height: 48px;
    background: #fff !important;
    border: 2px solid #707070;
    box-shadow: none !important;
    font-size: 18px;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.vcode-input:focus {
    border-color: #FC4041;
}
.vcode-input::-moz-selection {
    background: transparent;
}
.vcode-input::selection {
    background: transparent;
}
.counter-wrapper{
    display: block;
    width: 100%;
    margin-top: 80px;
    clear: both;
}
.counter-wrapper #count{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FC4041;
    border: 1px solid #FC4041;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.counter-wrapper.active #count{
    opacity: 1;
}
.counter-wrapper a{
    color: #FC4041 !important;
}
.counter-wrapper.active a{
    color: #C5C5C5 !important;

}
/* Error*/
.error-wrapper{
    position: relative;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 50px;
    text-align: center;
    background: url("../images/bg-error.png") center no-repeat;
    background-size: contain;

}
.error-wrapper .error-page{
    display: block;
    width: 100%;
    color: #DC5959;
    font-size: 200px;
    font-weight: bold;
}
.error-wrapper .error-notFound{
    display: block;
    width: 100%;
    color: #B4B4B4;
    font-size: 24px;
}
@media all and (max-width: 992px){
    .error-wrapper .error-page{
        font-size: 100px;
    }
}